@import '../../global/variable.scss';

.side {
    width: 100%;
    padding: 0 2rem;

    .side_title {
        font-size: 4rem;
        font-family: $font-Fira_Mono;
        text-align: center;
        font-family: $font-Noto_Serif;
        font-weight: 600;
    }

    .side_description{
        font-size: 3rem;
        text-align: center;
        font-family: $font-Arimo;
    }
}